@import "mixins";

$color-dark-100      : #282828;
$color-dark-200      : #252525;
$color-dark-300      : #222222;
$color-dark-400      : #1D1D1D;
$color-text-primary  : #FFFFFF;
$color-text-secondary: #B0B0B0;
$color-red-primary   : #C22C28;